<% if (site.posts.filter(post => post.pinned).length > 0) { %>
    <ul class="pinned-posts-list">
        <% site.posts.filter(post => post.pinned).forEach(post => { %>
            <li class="pinned-post-item">
                <a href="<%= url_for(post.path) %>"><%= post.title %></a>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p>暂无置顶文章。</p>
<% } %>